h1 {
    color:black;
}

#SetTip {
    border-radius: 0;
    background-color: gray;
    color: white;
    margin: 0%;
    border-radius: 15%;
}

#SetTip:hover {
    background-color: #c5c5c5;
}

#SetTip:focus {
    background-color: #c5c5c5;

}

#billAmount {
    height: auto;
}

#error {
    height: auto;
}